html {
   height: 100%;
   width: 100%;
 }
 
 Header {
   height: 100%;
   width: 25%;
   background-color: #B3EFB2;
   margin: auto;
 }
 
 nav {
 height: 100%;
 Width: 100%;
 background-color: #31493C;
 }
 
 Article{
   Height: 40%;
   Width: 50%;
   background-color: #CFD2D2;
   }
 